<div class='circle-container'></div>


<span>
  <button type="button" id="decrement">-</button>
    <h5 id="NoOfCircles"></h5>
  <button type="button" id="decrement">+</button>
</span>


<ul>
  {{#each planets}}
    {{this.name}}
  {{/each}}
</ul>