<div id='circle-container'></div>

<span>
  <button type="button" id="decrement">-</button>
    <input id="NoOfCircles" value="3"></h5>
  <button type="button" id="increment">+</button>
</span>


<ul>
  {{#each planets}}
    {{this.name}}
  {{/each}}
</ul>